---
import '../styles/global.css';
---

<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} >
        <title>About</title>
        <meta name="description" content="" />
    </head>
    <body>
        <h1>About</h1>
        <p>这里是关于页面，暂时没有内容</p>
    </body>
</html>