---
import '../styles/global.css';
---

<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} >
        <title>Blog</title>
        <meta name="description" content="" />
    </head>
    <body>
        <h1>Blog</h1>
        <p>这里是博客页面，暂时没有内容</p>
        <script>
            import "../scripts/menu.js";
        </script>

    </body>
</html>