<!--
网页index
-->

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Index</title>
    <meta name="description" content="一个学生的个人网页 化学+计算机" />
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/">首页</a></li>
        <li><a href="/">关于</a></li>
        <li><a href="/">联系</a></li>
      </ul>
    </nav>

    <main>
      <div>
        <h1>Welcome</h1>
        <p>Hi ^_^ Feel free to explore!</p>
      </div>
      <div>
        <h2>最近更新</h2>
        <ul>
          <li>还没有东西(&gt; _	&lt;) </li>
        </ul>
      </div>
      <div>
        <h2>Chem</h2>
        <p>化学相关笔记</p>
      </div>
      <div>
        <h2>CS</h2>
        <p>计算机相关笔记</p>
      </div>
    </main>

    <div>
      <h2>每日分子展示</h2>
      <p>留空</p>
    </div>
    <div>
      <h2>时钟</h2>
      <p>留空</p>
    </div>
    <div>
      <h2>音乐播放器</h2>
      <p>留空</p>
    </div>

    <footer>
      <p>&copy; 2026 我的个人网页. 保留所有权利.</p>
    </footer>

  </body>
</html>