<footer class="border-t border-neutral-200 mt-12">
  <div class="max-w-3xl mx-auto px-4 py-6 text-sm text-neutral-400 text-center">
    <p>Copyright &copy; 2026-present by Jerry is licensed under CC BY-SA 4.0</p>
    <p>xxx备xxx号</p>
  </div>
</footer>
