---
---
<div>
  <a href="/" class="hover:underline hover:text-blue-500">Home</a>
  <a href="/about/" class="hover:underline hover:text-blue-500">About</a>
  <p class="hover:underline hover:text-blue-500">Notes</p>
  <ol>
    <li><a href="/notes/Chem/" class="hover:underline hover:text-blue-500">Chemistry</a></li>
    <li><a href="/notes/CS/" class="hover:underline hover:text-blue-500">Computer Science</a></li>
    <li><a href="/notes/MathPhy/" class="hover:underline hover:text-blue-500">Mathematics and Physics</a></li>
    <li><a href="/notes/Others/" class="hover:underline hover:text-blue-500">Others</a></li>
  </ol>
  <a href="/tags/" class="hover:underline hover:text-blue-500">Tags</a>
  <a href="/resources/" class="hover:underline hover:text-blue-500">Resources</a>
  <a href="/Toolbox/" class="hover:underline hover:text-blue-500">Toolbox</a>
</div>